In [226]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [227]:
df = pd.read_csv('music.csv')
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [228]:
Input = df.drop(columns=['genre'])
Input

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [229]:
Output = df['genre']
Output

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [230]:
Input_train, Input_test, Output_train, Output_test = train_test_split(Input, Output, test_size=0.2)

In [231]:
model = DecisionTreeClassifier()
model.fit(Input_train , Output_train)
prediction = model.predict(Input_test)
score = accuracy_score(Output_test, prediction)
score

1.0

In [232]:
prediction

array(['Acoustic', 'Acoustic', 'Dance', 'Classical'], dtype=object)

In [233]:
from sklearn import tree

df_new = pd.read_csv('music.csv')
X = df_new.drop(columns=['genre'])
y = df_new['genre']

model = DecisionTreeClassifier()
model.fit(X,y)
tree.export_graphviz(model, out_file='music_suggestion.dot',
                    feature_names=['age','gender'],
                    class_names= sorted(y.unique()),
                     label='all', rounded = True,
                     filled = True )